body {
    background-color: lightgrey;
}

nav {
    float: left;
    width: 100%;
}

nav li {
    display: inline-block;
    padding: 0 10px;
}

.container { display: flex;

}

.featured-videos {
    background-color: lightskyblue;
}

.featured-video-button {
    border: 1px solid lightskyblue;
    background-color: white;
    color: lightskyblue;
    
}

.featured-video-button:hover {
    border: 1px white;
    background-color: lightskyblue;
    color: white;
}